.DS_Store
.emacs.d/.emacs.desktop.lock
/.emacs.d/projectile.cache
/.emacs.d/.emacs.desktop
/.emacs.d/.cache
/.emacs.d/recentf
/.emacs.d/org/config.el
/.emacs.d/network-security.data
/.emacs.d/elpa
/.emacs.d/projectile-bookmarks.eld
/.emacs.d/.cask/
/.emacs.d/eshell
/.emacs.d/sql
/.emacs.d/tramp
/.emacs.d/eshell/history
/.emacs.d/.emacs.desktop.lock
/.emacs.d/.mc-lists.el
/.emacs.d/transient/
/.emacs.d/auto-save-list/
*.swp
