.DS_Store
/.emacs.d/projectile.cache
/.emacs.d/.emacs.desktop
/.emacs.d/.cache
/.emacs.d/recentf
/.emacs.d/org/config.el
/.emacs.d/network-security.data
/.emacs.d/elpa
/.emacs.d/projectile-bookmarks.eld
